@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.main{
    flex: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    flex: 1;
    background-color: #d80378;
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
    color: inherit;
}


footer{
    flex: 1;
    flex: 1;
    background-color: #d80378;
    color: white;
    text-align: center;
}

.box{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    background-color: #ee732c;
    height: 100px;
    width: 100px;
}

      
    