@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: wheat;
}

.main{
    flex: 10;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8ddb0;
}
header, footer {
    background-color: #B02E0C; /* Dark orange */
    text-align: center;
}
header{
    flex: 2;
    
}

a{
    text-decoration: none;
    color: inherit;
}


footer{
    flex: 1;
}

h2{
    font-size: 20px;
}

.box{
    height: 300px;
    width: 300px;
    flex: 5;
}

.metade{
    width: 100vw;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preView{
    width: 80%;
    height: 30%;
    box-shadow: 5px 5px 30px rgba(42, 15, 3, 0.5);
    background-color: #EB4511; /* Main orange color */
    border-radius: 7px; /* Slightly rounded corners */
    margin: 10px;
    
    
}

.LouC, .preView {
    gap: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloPV{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoPV{
    display: flex;
    align-items: center;
    justify-content: center;
}

.itens{
    width: 100%;
}

.item{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;
    width: 100%;
    height: auto;
    padding: 5px;
}

.LC{
    width: 100vw;
    display: flex;
    flex: 1;
}
a .LC{
    height: 100%;
    width: 100%;
}
.itemLC{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff7f3f;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%; /* Full width minus padding */
    padding: 10px; /* Padding inside inputs */
    border-radius: 7px; /* Rounded corners on inputs */
    border: none;
}

.LouC{
    width: 100vw;
    flex: 4;
    background-color: #d16834;

}

.fotoItem{
    width: 100px;
    height: 100px;
}
      
    